<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>中国象棋 - 绘制棋盘</title>
</head>

<body>
<div id="chess_map" style="width: 500px; height: 550px"></div>
<script type="text/javascript" src="js/raphael.js"></script>
<script type="text/javascript">
    var DATA = {
        map : {
            size : {
                width : 500,
                height : 450
            },
            offsetTop : 25,
            offsetLeft : 25
        },
        pieces : {
            size : 50,
            img : {
                url : '../images/',
                redPrefix : 'red_',
                blackPrefix : 'black_'
            }
        },
        style : {
            stroke : {
                "stroke" : "black",
                "stroke-width" : .5
            },
            backLayer : {
                "fill" : "none"
            }
        }
    };

    var map = Raphael("chess_map", DATA.map.size.height, DATA.map.size.width);
    var backLayer = map.rect(DATA.map.offsetLeft-4, DATA.map.offsetTop-4, DATA.map.size.height-42, DATA.map.size.width-42).attr({"stroke-width" : 1}).attr(DATA.style.backLayer);
    var wrap = map.rect(DATA.map.offsetLeft, DATA.map.offsetTop, DATA.map.size.height-50, DATA.map.size.width-50).attr(DATA.style.stroke).attr({"fill" : "none"});

    DrawMap();

    function DrawMap(){
        for(var i = 0; i < 9; i++){
            for(var j = 0; j < 8; j++){
                DrawRectUnit(DATA.map.offsetLeft + DATA.pieces.size*j, DATA.map.offsetTop + DATA.pieces.size*i, DATA.pieces.size, DATA.pieces.size);
            }
        }
        var ox = DATA.map.offsetLeft + DATA.pieces.size*3,
            oy = DATA.map.offsetTop,
            ex = DATA.map.offsetLeft + DATA.pieces.size*5,
            ey = DATA.map.offsetTop + DATA.pieces.size*2;
        var line = map.path("M" + ox + " " + oy + "L" + ex + " " + ey);
            line.clone().transform("r90");
            line.clone().transform("t0,350");
            line.clone().transform("t0,350r90");

        for(var i = 0; i < 10; i++){
            for(var j = 0; j < 9; j++){
                DrawPieces(DATA.map.offsetLeft-25 + DATA.pieces.size*j, DATA.map.offsetTop-25 + DATA.pieces.size*i, DATA.pieces.size, DATA.pieces.size);
            }
        }
    }

    //单元格绘制
    function DrawRectUnit(x, y, size){
        var rect = map.rect(x, y, size, size).attr(DATA.style.stroke).attr({"fill" : "none"});
    }

    //棋子绘制
    function DrawPieces(x, y, size){
        var rect = map.rect(x, y, size, size).attr({
            "fill" : "blue",
            "fill-opacity" :.3,
            "stroke-width" : 1
        });
    }
</script>
</body>
</html>