<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>中国象棋 - Chinese Chess</title>
    <style type="text/css">
        body{margin: 0; background: #d1bf9a}
        .map,.tipwrap{position: absolute; top: 50%; left: 50%}
        .map{width: 654px; height: 660px; margin: -330px 0 0 -327px;}
        .tipwrap{width: 200px; height:400px; margin: -200px 0 0 327px; box-shadow: 0 0 10px #000 inset}
        .tipbox{padding: 10px}
        .tipbox h3,.tipbox p{margin: 0}
        .tipbox h3{font-size:16px; padding:0.5em 0 0.2em}
        .tipbox p{padding:0.1em 1em}
        .recode{margin-left:17px; height:200px; width:150px}
    </style>
</head>

<body>
    <div id="selPlayer">
        <input type="radio" name="ptype" value="viewer"><label>观看者</label>
        <input type="radio" name="ptype" value="black"><label>黑方</label>
        <input type="radio" name="ptype" value="red"><label>红方</label>
    </div>
    <div class="map" id="map"></div>
    <div class="tipwrap">
        <div class="tipbox">
            <h3>对阵信息</h3>
            <p>黑方:</p>
            <p>红方:</p>
            <p>当前行棋:</p>
            <p>剩余时间:</p>
            <h3>棋谱记录</h3>
            <select multiple class="recode" id="recode">
            </select>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/raphael-min.js"></script>
<script type="text/javascript" src="/javascripts/chess.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
$(function(){
    var ws = io.connect();
    ws.on("connect", function(){
        //console.log("connected!")

        $("#selPlayer input[type=radio]").click(function(){
            var val = $(this).val()
            if(val == "viewer")currentOperator = null;
            $("#selPlayer input[type=radio]").attr("disabled", true);
            ws.emit("select color", $(this).val());
            init();
        })

        ws.on("message", function(id){
            $("#" + id).css("width","500px");
        })

        ws.on("disconnect", function(){
            //console.log("disconnect!")
        })
    })

    function init(){
        new Pieces("black", "zu", po.black.zua).create();
        new Pieces("black", "zu", po.black.zub).create();
        new Pieces("black", "zu", po.black.zuc).create();
        new Pieces("black", "zu", po.black.zud).create();
        new Pieces("black", "zu", po.black.zue).create();
        new Pieces("black", "pao", po.black.paol).create();
        new Pieces("black", "pao", po.black.paor).create();
        new Pieces("black", "che", po.black.chel).create();
        new Pieces("black", "che", po.black.cher).create();
        new Pieces("black", "ma", po.black.mal).create();
        new Pieces("black", "ma", po.black.mar).create();
        new Pieces("black", "xiang", po.black.xiangl).create();
        new Pieces("black", "xiang", po.black.xiangr).create();
        new Pieces("black", "shi", po.black.shil).create();
        new Pieces("black", "shi", po.black.shir).create();
        new Pieces("black", "jiang", po.black.jiang).create();

        new Pieces("red", "bing", po.red.binga).create();
        new Pieces("red", "bing", po.red.bingb).create();
        new Pieces("red", "bing", po.red.bingc).create();
        new Pieces("red", "bing", po.red.bingd).create();
        new Pieces("red", "bing", po.red.binge).create();
        new Pieces("red", "pao", po.red.paol).create();
        new Pieces("red", "pao", po.red.paor).create();
        new Pieces("red", "che", po.red.chel).create();
        new Pieces("red", "che", po.red.cher).create();
        new Pieces("red", "ma", po.red.mal).create();
        new Pieces("red", "ma", po.red.mar).create();
        new Pieces("red", "xiang", po.red.xiangl).create();
        new Pieces("red", "xiang", po.red.xiangr).create();
        new Pieces("red", "shi", po.red.shil).create();
        new Pieces("red", "shi", po.red.shir).create();
        new Pieces("red", "shuai", po.red.shuai).create();
    };

})
</script>