<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>中国象棋 - Chinese Chess</title>
    <style type="text/css">
        body{margin: 0; background: #d1bf9a}
        .map,.tipwrap{position: absolute; top: 50%; left: 50%}
        .map{width: 654px; height: 660px; margin: -330px 0 0 -327px;}
        .tipwrap{width: 200px; height:400px; margin: -200px 0 0 327px; box-shadow: 0 0 10px #000 inset}
        .tipbox{padding: 10px}
        .txt{height: 190px; padding:0 6px}
        .txt h3{margin: 0; font-size:16px}
    </style>
</head>

<body>
    <div class="map" id="map"></div>
    <div class="tipwrap">
        <div class="tipbox">
            <div id="balck" class="txt">
                <h3>黑方:</h3>
            </div>
            <div id="red" class="txt">
                <h3>红方:</h3>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/raphael-min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
$(function(){
    var ws = io.connect();
    ws.on("connect", function(){
        console.log("connected!")

        $(".block").click(function(e){
            var id = $(e.target).attr("id");
            ws.send(id);
        })

        ws.on("message", function(id){
            $("#" + id).css("width","500px");
        })

        ws.on("disconnect", function(){
            console.log("disconnect!")
        })
    })

    //偏移量
    var offset = {
        dx : 50,
        dy : 20
    };
    var baseLeft = offset.dx + 15;
    var baseTop = offset.dy + 16;

    var paper = Raphael("map", 654, 660);
    var map = paper.image("../images/chessMap.jpg", offset.dx, offset.dy, 554, 620);
    var selectRect = paper.rect(0, 0, 62, 62).attr({
        "cursor" : "pointer",
        "stroke" : "red",
        "stroke-width" : 1,
        "stroke-opacity" : 0
    });
    var mouseMoveRect = paper.rect(0, 0, 62, 62).attr({
        "stroke" : "red",
        "stroke-width" : 1,
        "stroke-dasharray" : "- ",
        "stroke-opacity" : 0
    })
    var selStatus = {
        selected : false,
        id : 1,
        type : null
    }

    //棋子相关数据
    var po = {};
    po.common = {
        size : {
            width : 62,
            height : 62
        },
        style : {
            "cursor" : "pointer"
        }
    }
    
    po.black = {
        zua    : {x : baseLeft - po.common.size.width/2 + 65*0, y : baseTop - po.common.size.height/2 + 65*3},
        zub    : {x : baseLeft - po.common.size.width/2 + 65*2, y : baseTop - po.common.size.height/2 + 65*3},
        zuc    : {x : baseLeft - po.common.size.width/2 + 65*4, y : baseTop - po.common.size.height/2 + 65*3},
        zud    : {x : baseLeft - po.common.size.width/2 + 65*6, y : baseTop - po.common.size.height/2 + 65*3},
        zue    : {x : baseLeft - po.common.size.width/2 + 65*8, y : baseTop - po.common.size.height/2 + 65*3},
        paol   : {x : baseLeft - po.common.size.width/2 + 65*1, y : baseTop - po.common.size.height/2 + 65*2},
        paor   : {x : baseLeft - po.common.size.width/2 + 65*7, y : baseTop - po.common.size.height/2 + 65*2},
        chel   : {x : baseLeft - po.common.size.width/2 + 65*0, y : baseTop - po.common.size.height/2 + 65*0},
        cher   : {x : baseLeft - po.common.size.width/2 + 65*8, y : baseTop - po.common.size.height/2 + 65*0},
        mal    : {x : baseLeft - po.common.size.width/2 + 65*1, y : baseTop - po.common.size.height/2 + 65*0},
        mar    : {x : baseLeft - po.common.size.width/2 + 65*7, y : baseTop - po.common.size.height/2 + 65*0},
        xiangl : {x : baseLeft - po.common.size.width/2 + 65*2, y : baseTop - po.common.size.height/2 + 65*0},
        xiangr : {x : baseLeft - po.common.size.width/2 + 65*6, y : baseTop - po.common.size.height/2 + 65*0},
        shil   : {x : baseLeft - po.common.size.width/2 + 65*3, y : baseTop - po.common.size.height/2 + 65*0},
        shir   : {x : baseLeft - po.common.size.width/2 + 65*5, y : baseTop - po.common.size.height/2 + 65*0},
        jiang  : {x : baseLeft - po.common.size.width/2 + 65*4, y : baseTop - po.common.size.height/2 + 65*0}
    }
    po.red = {
        binga  : {x : baseLeft - po.common.size.width/2 + 65*0, y : baseTop - po.common.size.height/2 + 65*6},
        bingb  : {x : baseLeft - po.common.size.width/2 + 65*2, y : baseTop - po.common.size.height/2 + 65*6},
        bingc  : {x : baseLeft - po.common.size.width/2 + 65*4, y : baseTop - po.common.size.height/2 + 65*6},
        bingd  : {x : baseLeft - po.common.size.width/2 + 65*6, y : baseTop - po.common.size.height/2 + 65*6},
        binge  : {x : baseLeft - po.common.size.width/2 + 65*8, y : baseTop - po.common.size.height/2 + 65*6},
        paol   : {x : baseLeft - po.common.size.width/2 + 65*1, y : baseTop - po.common.size.height/2 + 65*7},
        paor   : {x : baseLeft - po.common.size.width/2 + 65*7, y : baseTop - po.common.size.height/2 + 65*7},
        chel   : {x : baseLeft - po.common.size.width/2 + 65*0, y : baseTop - po.common.size.height/2 + 65*9},
        cher   : {x : baseLeft - po.common.size.width/2 + 65*8, y : baseTop - po.common.size.height/2 + 65*9},
        mal    : {x : baseLeft - po.common.size.width/2 + 65*1, y : baseTop - po.common.size.height/2 + 65*9},
        mar    : {x : baseLeft - po.common.size.width/2 + 65*7, y : baseTop - po.common.size.height/2 + 65*9},
        xiangl : {x : baseLeft - po.common.size.width/2 + 65*2, y : baseTop - po.common.size.height/2 + 65*9},
        xiangr : {x : baseLeft - po.common.size.width/2 + 65*6, y : baseTop - po.common.size.height/2 + 65*9},
        shil   : {x : baseLeft - po.common.size.width/2 + 65*3, y : baseTop - po.common.size.height/2 + 65*9},
        shir   : {x : baseLeft - po.common.size.width/2 + 65*5, y : baseTop - po.common.size.height/2 + 65*9},
        shuai  : {x : baseLeft - po.common.size.width/2 + 65*4, y : baseTop - po.common.size.height/2 + 65*9}
    }

    function Pieces(type,name,options){
        this.type = type;
        this.name = name;
        this.options = options;
    }

    Pieces.prototype.create = function(){
        var posit = this.options,
            size = po.common.size;
        var img = this.type + "_" + this.name +".png";
        var piece = paper.image("../images/" + img, posit.x, posit.y, size.width, size.height).attr(po.common.style).data("type",this.type);;
        piece.node.onclick = function(e){
            if( (selStatus.type != null) && (piece.data("type") != selStatus.type) ){
                paper.getById(selStatus.id).attr({
                    x : piece.attrs.x,
                    y : piece.attrs.y
                }).toFront();
                piece.remove();
                resetSelStatus();
                return;
            }
            if( (!selStatus.selected && selStatus.id != piece.id) || (selStatus.selected && selStatus.id != piece.id) ){
                selectRect.attr({
                    x : piece.attrs.x,
                    y : piece.attrs.y,
                    "stroke-opacity" : 1
                });
                mouseMoveRect.attr({
                    x : piece.attrs.x,
                    y : piece.attrs.y,
                    "stroke-opacity" : 1
                });
                $(map.node).bind("mouseover", function(e){
                    $(this).bind("mousemove", function(e){
                        mouseMoveRect.attr({
                            x : e.pageX - $(this).offset().left + 15,
                            y : e.pageY - $(this).offset().top - 15
                        })
                    })
                })
                selStatus.selected = true;
                selStatus.id = piece.id;
                selStatus.type = piece.data("type");
                return;
            }
            resetSelStatus();
            $(map.node).unbind();
        }
        piece.node.onmouseover = function(){
            if(selStatus.selected){
                mouseMoveRect.attr({
                    x : piece.attrs.x,
                    y : piece.attrs.y
                });
            }else{

            }
        }
        return piece;
    }

    function resetSelStatus(){
        selectRect.attr({
            "stroke-opacity" : 0
        });
        mouseMoveRect.attr({
            "stroke-opacity" : 0
        })
        selStatus.selected = false;
        selStatus.id = 1;
        selStatus.type = null;
    }

    var bzua = new Pieces("black", "zu", po.black.zua).create();
    var bzub = new Pieces("black", "zu", po.black.zub).create();
    var bzuc = new Pieces("black", "zu", po.black.zuc).create();
    var bzud = new Pieces("black", "zu", po.black.zud).create();
    var bzue = new Pieces("black", "zu", po.black.zue).create();
    var bpaol = new Pieces("black", "pao", po.black.paol).create();
    var bpaor = new Pieces("black", "pao", po.black.paor).create();
    var bchel = new Pieces("black", "che", po.black.chel).create();
    var bcher = new Pieces("black", "che", po.black.cher).create();
    var bmal = new Pieces("black", "ma", po.black.mal).create();
    var bmar = new Pieces("black", "ma", po.black.mar).create();
    var bxiangl = new Pieces("black", "xiang", po.black.xiangl).create();
    var bxiangr = new Pieces("black", "xiang", po.black.xiangr).create();
    var bshil = new Pieces("black", "shi", po.black.shil).create();
    var bshir = new Pieces("black", "shi", po.black.shir).create();
    var bjiang = new Pieces("black", "jiang", po.black.jiang).create();

    var rzua = new Pieces("red", "bing", po.red.binga).create();
    var rzub = new Pieces("red", "bing", po.red.bingb).create();
    var rzuc = new Pieces("red", "bing", po.red.bingc).create();
    var rzud = new Pieces("red", "bing", po.red.bingd).create();
    var rzue = new Pieces("red", "bing", po.red.binge).create();
    var rpaol = new Pieces("red", "pao", po.red.paol).create();
    var rpaor = new Pieces("red", "pao", po.red.paor).create();
    var rchel = new Pieces("red", "che", po.red.chel).create();
    var rcher = new Pieces("red", "che", po.red.cher).create();
    var rmal = new Pieces("red", "ma", po.red.mal).create();
    var rmar = new Pieces("red", "ma", po.red.mar).create();
    var rxiangl = new Pieces("red", "xiang", po.red.xiangl).create();
    var rxiangr = new Pieces("red", "xiang", po.red.xiangr).create();
    var rshil = new Pieces("red", "shi", po.red.shil).create();
    var rshir = new Pieces("red", "shi", po.red.shir).create();
    var rshuai = new Pieces("red", "shuai", po.red.shuai).create();

})
</script>